@keyframes openInfo {
  from {
    scale: 0.7;
  }

  to {
    scale: 1;
  }
}

@keyframes infoOpacity {
  from {
    opacity: 1;
    z-index: 100;
  }

  to {
    opacity: 0;
    z-index: 0;
  }
}

.player-info {
  display: flex;
  position: absolute;
  overflow: hidden;
  background-color: #202020;
  bottom: -40%;
  width: 35rem;
  height: 40rem;
  border-radius: 3%;
  z-index: 500;
  justify-content: start;
  animation-name: openInfo;
  animation-duration: .4s;
  animation-timing-function: ease;
}

.player-info-control {
  position: absolute;
  margin-left: 5px;
  top: 52%;
}

.player-info-control button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#player-info-btn-icon-play {
  cursor: pointer;
  color: #fff;
  font-size: 5rem;
}

#player-info-btn-icon-play:hover {
  color: #ffffffa8;
}

#player-info-btn-icon-plus {
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff98;
  font-size: 5rem;
}

#player-info-btn-icon-plus:hover {
  color: #ffffffd0;
}

#button-like:hover {
  border: 2px solid #ffffffd5;
}

.player-info img {
  width: 100%;
  height: 200px;
}

.player-container {
  position: relative;
}

.player-info-desc {
  display: flex;
  position: absolute;
  align-items: center;
  align-self: end;
  margin: .5rem .5rem;
  font-size: 1.5rem;
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.856);
}

.info-player {
  position: absolute;
  margin-top: -6px;
  width: 100%;
  height: 20rem;
}

.pre-imgs {
  position: absolute;
  width: 100%;
  height: 20rem !important;
  z-index: 100;
  animation-name: infoOpacity;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}