
.search-page {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #141414;
}

.search-carousel {
  display: block;
  height: auto;
}

.slider-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 200px 0 300px 0;
}

.slider-search img{
  display: flex;
  position: relative;  
  border-radius: .5rem;
  width:  calc(25% - 2 * var(--slider-padding));
  margin: 2.5rem .65rem;
  cursor: pointer;
}


