@media screen and (min-width: 100px) and (max-width: 700px) {
  .navbar li {
    scale: 1.4;

  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .navbar li {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1700px) and (max-width: 3300px) {
  .navbar li {
    font-size: 1.2rem;
    margin-right: 10px;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: fixed;
  width: 100vw;
  height: 68px;
  background: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
  ;
  font-size: 1.5rem;
  padding: 0px 4px;
  z-index: 100;
}

.header-container-close {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 41px;
  background: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
  ;
  font-size: 1.3rem;
  padding: 0px 40px;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  margin-left: 60px;
  z-index: 100;
}

.navbar li a {
  margin-right: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-family: sans-serif;
  user-select: none;
  z-index: 100;
}

#navClose-icon {
  font-size: 3.4rem;
}

.dropAct {
  z-index: 10;
  width: 100px;
  height: 60px;
}

.nav-close {
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 1.8rem;
  color: whitesmoke;
  margin-left: 25px;
  text-decoration: none;
  font-family: sans-serif;
  user-select: none;
  z-index: 100;
}

.dropAct:hover .drop-close {
  display: flex;
}

.nav-close:hover .drop-close {
  display: flex;
}

.drop-close {
  display: none;
  position: relative;
  transform: translate(-50px, 0px);
  margin-top: 5x;
  background-color: rgba(0, 0, 0, 0.897);
  border-top: 2px solid rgba(245, 245, 245, 0.884);
  height: 310px;
  width: 250px;
}

.NavCloseDrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

.NavCloseDrop a {
  font-family: Helvetica;
  font-size: 15px;
  color: #ffffff98;
  text-decoration: none;
}

.NavCloseDrop li:hover {
  background-color: #1f1e1e8c;
}

.NavCloseDrop li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45px;
  width: 100%;

}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  position: absolute;
  right: 4%;
  top: 0;
  z-index: 100;
}

#active-perfil {
  cursor: pointer;
}

.search-container {
  border: none;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0ms ease;
}

.search-container #input-search {
  display: none;
  border: none;
  font-size: 20px;
}

.search-container.active {
  display: flex;
  justify-content: start;
  align-items: center;
  border: .2rem solid rgba(255, 255, 255, 0.753);
  background-color: rgb(0, 0, 0);
  height: 4rem;
  width: 29rem;
  transition: width .4s ease;
  max-height: 56px;
}

.search-container.active .search-btn {
  display: flex;
  position: relative;
  align-self: center;
}

.search-container.active #input-search {
  display: inline;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  width: 80%;
  height: 100%;
  font-size: 2rem;
}

#input-search:focus {
  border: none;
  outline: none; 
  
}

.search-btn {
  position: relative;
  z-index: 10;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  margin-top: 5px;
}

.bel-btn {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  margin: 0px 20px 0 20px;
}

.menu-drop {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.menu-drop img {
  height: 40px;
  margin-right: 5px;
  border-radius: 15%;
}

.drop-container {
  display: none;
  position: absolute;
  margin: 400px 0px 0px 0px;
  right: 5%;
  height: 400px;
  width: 220px;
}

.drop-menu {
  display: none;
  border-radius: 1%;
  flex-direction: column;
  position: absolute;
  padding: 15px 10px;
  margin: 30px 0px 0px 0px;
  height: 400px;
  width: 220px;
  background-color: rgba(0, 0, 0, .9);
  border: 1px solid hsla(0, 0%, 100%, .15);
  z-index: 10;
}

.menu-drop:hover .drop-menu {
  display: flex;
}

.menu-drop:hover .drop-container {
  display: flex;
}

.menu-perfil {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  margin-bottom: 10px;
  font-size: 13px;
}

.menu-perfil:hover {
  text-decoration: underline;
}

.btn-second {
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
  color: #ffffffce;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
}

.btn-second:hover {
  text-decoration: underline;
}

.button-exit {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.button-exit a:hover {
  text-decoration: underline;
}

#hr-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.363);
}


.button-exit a {
  text-decoration: none;
  color: #ffffffce;
}

.menus-icon {
  font-size: 28px;
  margin-right: 15px;
}

.second-drop-menu {
  display: flex;
  flex-direction: column;
  bottom: 1;
}

.menu-perfil span {
  margin-left: 10px;
}

#drop-icon {
  margin-left: 2px;
  color: #fff;
}

#main-logo {
  margin-top: 10px;
  margin-left: 30px;
  width: 5vw;
  min-width: 30px;
  max-width: 70px;
}

.idiomas-nav {
  display: flex;
}

.idiomas-container {
  display: none;
  position: absolute;
  width: 130px;
  height: 50px;
}

.idiomas-drop {
  display: flex;
  margin-top: 50px;
  position: absolute;
  width: 20rem;
  height: 25rem;
  top: -30%;
  background-color: #141414e7;
  border-top: .2rem solid rgba(245, 245, 245, 0.788);
}

.idiomas-drop ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.idiomas-drop li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  font-family: Helvetica;
  color: white;
  user-select: none;
  cursor: pointer;
}

.idiomas-drop li:hover {
  background-color: rgba(56, 54, 54, 0.357)
}

.idiomas-nav:hover .idiomas-container {
  display: block;
}

#hebraico {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.904);
}

#arabe {
  font-size: 2rem;
}

@media screen and (max-width: 350px) {
  .bel-btn {
    margin: 0px 5px 0 15px !important;
  }

}

@media screen and (max-width: 500px) {
  .search-container #input-search {
    font-size: 15px;
  }
  
  #main-logo {
    margin-left: -25px;
    width: 9em;
    min-width: 0px;
  }

  .nav-close {
    font-size: 2.8rem;
    margin-left: 25px;
  }

  .search-btn {
    font-size: 20px !important;
    margin-top: 5px;
  }
  
  .bel-btn {
    font-size: 20px !important; 
    margin: 0px 20px 0 20px;
  }

  .drop-close {
    transform: translate(-10px, -10px);
    margin-top: 5x;
    background-color: rgba(0, 0, 0, 0.897);
    border-top: 2px solid rgba(245, 245, 245, 0.884);
    height: 40vh;
    width: 35vw;
    min-width: 90px;
  }

  .drop-close a {
    font-size: 3.5em;
  }

  .search-container.active #input-search {
    display: inline;
    border: none;
    color: white;
    max-height: 56px;
    width: 100%;
    height: 150%;
    margin-bottom: -5px;
  }

  .search-container.active {
    height: 6rem;
    width: 35rem;
    transition: width .4s ease;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 900px) {
  .search-container #input-search {
    font-size: 18px;
  }
  
  .search-btn {
    font-size: 25px;
    margin-top: 5px;
  }
  
  .bel-btn {
    font-size: 25px;
    margin: 0px 20px 0 20px;
  }
  
  .menu-drop img {
    height: 30px;
    margin-right: 5px;
    border-radius: 15%;
  }
}

@media screen and (min-width: 2100px) {
  .bel-btn {
    font-size: 40px;
    margin: 0px 20px 0 10px;
  }

  .search-btn {
    font-size: 40px;
    margin-top: 5px;
  }

  .menu-drop img {
    height: 50px;
    margin-right: 5px;
    border-radius: 15%;
  }
}

